:root{
    --primary-color: #239f23;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    height: 25rem;
}

main{
    margin-bottom: 12rem;
}

header img.logo{
    height: 3rem;
}

footer img.logo{
    height: 5rem;
}

.border-sections-footer{
    border-left: solid 2px rgba(128, 128, 128, 0.271);    
}

.border-login{
    border: solid 1.5px var(--primary-color);
}

.fondo-login{
    background-color: var(--primary-color);
}

.carrito-logo{
    transform:translate(-.5rem, -.2em);
}

.carrito-boton{
    padding-left: 2rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-right: 2rem;
}

.input-box i {
  position: absolute;
  right: 13px;
  top:11px;
  color:#ced4da;

}

#modalFacturaModal{
    transform: translateY(1rem);
}

#modalFacturaModal .modal-body{
    padding-bottom: 5rem;
}

@media only screen and (min-width: 900px){
    .img-producto {
        min-height: 12rem;
        max-height: 12rem;
}
}